body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

/* Estilos de enlaces */
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: #A0271A;
}
a:hover {
    color: #DFCA88;
    text-decoration: underline;
}

h1 {
    background-color: #D1B695;
    color: black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: white;
    border-right-color: white;
}

h2 {
    background-color: #A0271A;
    color: black;
    border-left-width: 50px;
    border-right-width: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: white;
    border-right-color: white;
}

img {
    border: 5px white solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #A0271A;
    /* no pongo el height porque si no la foto se deforma */
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border: 3px #A0271A solid;
    background-color:#D1B695;
}

a {
    
}

.descripcion {
    background-color: #D1B695;
    max-width: 730px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    margin: 20px auto 0 auto;
}
