body {
    background-color: #742e2e;;
}

/*Menú*/

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 13px;
    background-color: black;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu li{
    display: inline;
    padding-left: 10px;
}

.menu li a:hover{
    text-decoration-color: white;
    background-color: #742e2e;
    text-decoration: underline;
}

/*Título*/

.header {
    margin-top: 85px;
    width: 100%;
    height: 350px;
    border: solid 5px black;
    display:flex;
    align-items: center;
    background-image: url(/images/fondo.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.imgName {
    flex-basis: 2 1 auto; 
    margin-left: 5%;
}

.name {
    flex-basis: 1 1 auto;
    margin-left: 5%;
}

/*Banner cookies*/

#cookieEU {
    border: #742e2e solid 5px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 40%; 
    left: 20%;
    width: 60%;
}

#pCookie {
    margin-bottom: 40px;
}

.button {
    background-color: #742e2e;
    padding: 10px 20px 10px 20px;
    color: aliceblue;
}

/*Main*/

.container{
    margin-top: 8px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    align-items: center;
}

.main {
    border: solid 5px black;
    margin-top: 8px;
    text-align: justify;
    display:flex;
    margin-left: 2%;
}

.uno {
    flex: 1 1 1;
    background-color: blanchedalmond;
    border: solid 2px black;
    margin-right: 1px;
}

.dos {
    flex: 1 1 1;
    background-color: blanchedalmond;
    border: solid 2px black;
    margin-left: 1px;
}

.h11 {
    text-align: right;
}

.imgCostillas{
    float: left;
    margin: 100px 20px 30px 20px;
}

.imgTitere{
    float: right;
    margin: 100px 20px 30px 20px;
}

.texto1, .texto2 {
    margin: 50px 40px 50px 40px;  
}


/*Sidebar*/

nav {
    margin-left: 5%px;
    padding: 20px 20px 20px 20px;
}

nav ul {
    background-color: black;
    color: aliceblue;
    padding-left: 0px;
    text-align: center;
    list-style-type: none;
}

/*Footer*/

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    margin-top: 8px;
    padding-bottom: 15px;
}

footer a {
    color:#742e2e;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/*Tablet/móvil*/

@media all and (max-width: 800px) {

    .header {
        border: none;
    }

    .container, .main {
        flex-direction: column;
        border: none;
    }

    .dos {
        margin-top: 15px;
    }

}